.chat {
  display: flex;
  width: 100%;
  margin-top: 10px;
  background: #f8fafc;
  border-radius: 20px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
}

.chat-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.date-att {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: #dbf3f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  color: #636466;
  padding: 10px 7px;
  font-size: 0.9em;
}
.date-att span {
  font-weight: bold;
  margin-left: 4px;
}

.date-att-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 30px;
}

.date-att-bg .line-1 {
  height: 0;
  width: 252px;
  border: 1px solid #dddddd;
  background: #dddddd;
}

.date-att-bg .line-2 {
  width: 252px;
  border: 1px solid #dddddd;
  height: 0;
  background: #dddddd;
}

.text-input input {
  width: 100%;
  font-family: "Lato";
  font-size: 15px;
  line-height: 16px;
  padding: 24px 20px 24px 30px;
  outline: 0;
  border: none;
}

.text-input {
  display: flex;
  flex-direction: row;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  background: #ffffff;
}

.text-input .icon-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.text-input .icon-input img {
  width: 16px;
  height: 16px;
}

.text-input .icon-input:last-child {
  padding-left: 4px;
  margin-right: 10px;
}
