.contact {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
}

.contact .img-user {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  margin-right: 10px;
}

.tooltip {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 28px;
  width: 0;
  height: 0;

  border-left: 0px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 15px solid #fff;
}

.inverted-tooltip {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 28px;
  width: 0;
  height: 0;
  align-self: flex-end;
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid #d1fadf;
}

.contact .user-name {
  color: #636466;
  font-weight: bold;
}

.contact .check {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.contact .user-name span {
  font-weight: normal;
}

.message-content-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message-content-bg:last-child {
  margin-bottom: 20px;
}

.message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 10px;
  margin-left: 20px;
  padding: 20px;
}

.message-content p {
  color: #333333;
  font-size: 15px;
}

.message-logged-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.message-logged-user .contact {
  flex-direction: row-reverse;
}

.message-logged-user .contact .img-user {
  margin-left: 10px;
  margin-right: 0;
}

.message-logged-user .contact .check {
  margin-right: 10px;
}

.message-logged-user .message-content {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 10px 10px;
  background: #d1fadf;
}

@media (max-width: 1480px) {
  .message-content {
    width: 480px;
    font-size: 14px;
  }
}

@media (max-width: 1330px) {
  .message-content {
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  .message-content {
    width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 535px) {
  .message-content {
    width: 350px;
    font-size: 12px;
  }
}

@media (max-width: 495px) {
  .message-content {
    width: 300px;
    font-size: 11px;
  }
}

@media (max-width: 445px) {
  .message-content {
    width: 270px;
    font-size: 10px;
  }
}

@media (max-width: 435px) {
  .message-content {
    width: 235px;
    font-size: 9.5px;
  }

  .user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
